<%= form_for(@service, html: {:multipart => true}) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name, class: "form-control #{field_class(@service, :name)}", style: 'width:70%;' %>
    <span class="text-error"><%= field_text(@service, :name) %></span>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_area :description, class: "form-control #{field_class(@service, :description)}", style: 'width:70%;' %>
    <span class="text-error"><%= field_text(@service, :description) %></span>
  </div>

  <div class="form-group">
    <%= f.label :phone, 'Celular'%><br>
    <%= f.text_field :phone, class: "form-control #{field_class(@service, :phone)}" %>
    <span class="text-error"><%= field_text(@service, :name) %></span>
  </div>
  <div class="form-group">
    <%= f.label :age, 'Edad'%><br>
    <%= f.text_field :age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :weight, 'Peso'%><br>
    <%= f.text_field :weight, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, 'Precio'%><br>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Correo Electronico' %><br>
    <%= f.text_field :email, class: "form-control #{field_class(@service, :email)}", style: 'width:70%;' %>
    <span class="text-error"><%= field_text(@service, :name) %></span>
  </div>
  <div class="form-group">
      <%= f.label :photo, class: 'label-file btn btn-primary photo_label_1' do %>
        <span class="glyphicon glyphicon-camera"></span> <span id="photo_1"> Sube una foto de tu servicio</span> 
      <%end%>
    <br>
    <%= f.file_field :photo ,class: 'input-file photo_1' %>
  </div>
  <div class="form-group">
      <%= f.label :photo_2, class: 'label-file btn btn-primary photo_label_2' do %>
      <span class="glyphicon glyphicon-camera"></span> <span id="photo_2"> Sube una foto de tu servicio</span> 
    <%end%>
    <br>
    <%= f.file_field :photo_2, class: 'input-file photo_2'%>
  </div>

  <div class="form-group">
      <%= f.label :photo_3, class: 'label-file btn btn-primary photo_label_3' do %>
      <span class="glyphicon glyphicon-camera"></span> <span id="photo_3"> Sube una foto de tu servicio</span> 
    <%end%>
    <br>
    <%= f.file_field :photo_3, class: 'input-file photo_3'%>
  </div>

  <div class="form-group">
      <%= f.label :photo_4, class: 'label-file btn btn-primary photo_label_4' do %>
      <span class="glyphicon glyphicon-camera"></span> <span id="photo_4"> Sube una foto de tu servicio</span> 
    <%end%>
    <br>
    <%= f.file_field :photo_4, class: 'input-file photo_4'%>
  </div>

  <div class="form-group">
      <%= f.label :photo_5, class: 'label-file btn btn-primary photo_label_5' do %>
      <span class="glyphicon glyphicon-camera"></span> <span id="photo_5"> Sube una foto de tu servicio</span> 
    <%end%>
    <br>
    <%= f.file_field :photo_5, class: 'input-file photo_5'%>
  </div>
  <div class="form-group">
    <%= f.label :smoking, '¿Fumas?' %>
    <%= f.select :smoking, ['Selecciona', 'No','Si'] %>
  </div>hair_removal
  <div class="form-group">
    <%= f.label :hair_removal , '¿Depilada?' %>
    <%= f.select :hair_removal , ['Selecciona','Nada','Rebaje Corto', 'Completa'] %>
  </div>
  <div class="form-group">
    <h3>Servicios que prestas</h3>
    <% @additionals.each do |additional| %>
      <li style="display:inline;">
        <%= f.check_box 'additional_ids', {multiple: true}, additional.id, [] %>
        <span style="margin-right:10px;"><%=additional.name%></span>
      </li>
    <%end%>
  </div>
  <div class="form-group">
    <h3>En que categorias te gustaria estar</h3>
    <% @category.each do |category| %>
      <li>
        <%= f.check_box 'category_ids', {multiple: true}, category.id, [] %>
        <span><%=category.name%></span>
      </li>
    <%end%>
  </div>
  <div class="form-group">
    <%= f.submit 'Subir servicio', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
   $(".photo_1").change(function (){
      $("#photo_1").text("Foto Subida")
      $(".photo_label_1").attr("class","btn btn-success")
   });

   $(".photo_2").change(function (){
      $("#photo_2").text("Foto Subida")
      $(".photo_label_2").attr("class","btn btn-success")
   });

   $(".photo_3").change(function (){
      $("#photo_3").text("Foto Subida")
      $(".photo_label_3").attr("class","btn btn-success")
   });

   $(".photo_4").change(function (){
      $("#photo_4").text("Foto Subida")
      $(".photo_label_4").attr("class","btn btn-success")
   });

   $(".photo_5").change(function (){
      $("#photo_5").text("Foto Subida")
      $(".photo_label_5").attr("class","btn btn-success")
   });
</script>
  






