<!--Single Page starts Here-->
<div class="product-main">
   <div class="container">
     <div class="ctnt-bar cntnt">
       <div class="content-bar">
         <div class="single-page">    
           <div class="details-left-slider">
            <div class="flexslider">
                      <!-- FlexSlider -->
                    <script src="js/imagezoom.js"></script>
                      <script defer src="js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

                    <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                      $('.flexslider').flexslider({
                      animation: "slide",
                      controlNav: "thumbnails"
                      });
                    });
                    </script>
                  <!-- //FlexSlider-->

                <ul class="slides">
                <li data-thumb="images/s1.jpg">
                  <div class="thumb-image"> <img src="images/s1.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
                <li data-thumb="images/s2.jpg">
                   <div class="thumb-image"> <img src="images/s2.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
                <li data-thumb="images/s3.jpg">
                   <div class="thumb-image"> <img src="images/s3.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
                <li data-thumb="images/s4.jpg">
                   <div class="thumb-image"> <img src="images/s4.jpg" data-imagezoom="true" class="img-responsive"> </div>
                </li>
                </ul>
              <div class="clearfix"></div>
            </div>
           </div>
           <div class="details-left-info">
              <h3><%= @service.name %></h3>
              <h4>Pellentesque pretium </h4>              
              <p>$<%= @service.price %></p>
              <div class="flower-type">
                <div class="row">
                  <div class="col-md-4">
                    <p>Fono :<a href="#"><%= @service.phone %></a></p>
                    <p>Edad :<a href="#"><%= @service.age %></a></p>
                  </div>
                  <div class="col-md-4">
                    <p>Peso :<a href="#"><%= @service.weight %></a></p>
                    <p>Fuma :<a href="#"><%= @service.smoking %></a></p>
                  </div>
                  <div class="col-md-4">
                    <p>Peso :<a href="#"><%= @service.weight %></a></p>
                    <p>Fuma :<a href="#"><%= @service.smoking %></a></p>
                  </div>
                </div>
              </div>
              <h5>Description :</h5>
              <p class="desc"><%= @service.description %></p>
           </div>
           <div class="clearfix"></div>         
         </div>
       </div>
     </div>    
   </div>
</div>
